/* ^ Estilos compartidos */
.page__title {
    width: 100%;
    margin-bottom: 30px;
    font-size: 3.2rem;
    font-family: "PoppinsMedium";
    font-weight: 500;
}

.blog__subtitle {
    width: 100%;
    font-family: "PoppinsMedium";
    font-weight: 500;
    margin-bottom: 2.2rem;
}

.blog__cuadricula {
    display: inline-block;
    position: relative;
}

.blog__cuadricula::after {
    content: "";
    position: absolute;
    top: 16px;
    right: -2.7rem;
    background-image: -webkit-repeating-radial-gradient(
        center center,
        var(--color-secondary),
        var(--color-secondary) 1px,
        transparent 0px,
        transparent 100%
    );
    width: 50px;
    height: 30px;
    background-size: 6px 6px;
    opacity: 0.5;
}

.blog__subtitle_cuadricula {
    display: inline-block;
    position: relative;
}

.blog__subtitle_cuadricula::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -11px;
    background-image: -webkit-repeating-radial-gradient(
        center center,
        var(--color-secondary),
        var(--color-secondary) 1px,
        transparent 0px,
        transparent 100%
    );
    width: 30px;
    height: 20px;
    background-size: 6px 6px;
    opacity: 0.5;
}

.blog__subtitle_color {
    color: var(--color-secondary);
}

/** galeria */
.blog__gallery {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    margin-top: 4rem;
}
.gallery__item {
    position: relative;
    flex-basis: calc(50% - 2rem);
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 37rem;
    min-width: 20.5rem;
}

.blog__container_image {
    overflow: hidden;
    position: relative;
}

.gallery__image {
    transition: all 300ms ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.blog__icon {
    position: absolute;
    z-index: 5;
    top: calc(50% - 2.2rem);
    left: calc(50% - 2.2rem);
    font-size: 4.4rem;
    color: white;
    opacity: 0;
}

.gallery__item:hover .gallery__image {
    transform: scale(1.1);
}

.gallery__info {
    border: 1px solid rgb(229, 223, 223);
    padding: 1.5rem;
}

.gallery__date {
    color: gray;
    font-size: 1.3rem;
}

.gallery__title {
    margin: 0.5rem 0rem 1rem 0rem;
    font-size: 1.9rem;
    font-weight: bolder;
}

.gallery__etiqueta {
    position: absolute;

    opacity: 0;
    top: 7px;
    left: 10px;
    padding: 0 1rem;
    background-color: white;
    transition: 300ms all ease-in-out;
}

.gallery__item:hover .gallery__etiqueta {
    opacity: 1;
    transform: scale(1.1);
}
.gallery__item:hover .blog__icon {
    opacity: 1;
    transform: scale(1.1);
}
