/* ^ Estilos compartidos */
.page__title {
    width: 100%;
    margin-bottom: 30px;
    font-size: 3.2rem;
    font-family: "PoppinsMedium";
    font-weight: 500;
}

.portafolio__subtitle {
    width: 100%;
    font-family: "PoppinsMedium";
    font-weight: 500;
    margin-bottom: 2.2rem;
}

.portafolio__cuadricula {
    display: inline-block;
    position: relative;
}

.portafolio__cuadricula::after {
    content: "";
    position: absolute;
    top: 16px;
    right: -2.7rem;
    background-image: -webkit-repeating-radial-gradient(
        center center,
        var(--color-secondary),
        var(--color-secondary) 1px,
        transparent 0px,
        transparent 100%
    );
    width: 50px;
    height: 30px;
    background-size: 6px 6px;
    opacity: 0.5;
}

.portafolio__subtitle_cuadricula {
    display: inline-block;
    position: relative;
}

.portafolio__subtitle_cuadricula::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -11px;
    background-image: -webkit-repeating-radial-gradient(
        center center,
        var(--color-secondary),
        var(--color-secondary) 1px,
        transparent 0px,
        transparent 100%
    );
    width: 30px;
    height: 20px;
    background-size: 6px 6px;
    opacity: 0.5;
}

.portafolio__subtitle_color {
    color: var(--color-secondary);
}

/** navbar */
.portafolio__menu {
    display: flex;
    column-gap: 2rem;
}

.option__link {
    cursor: pointer;
    opacity: 0.5;
}

.option__active {
    opacity: 1;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: all 130ms ease-in-out;
}

/** galeria */
.portafolio__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 4rem;
    margin-top: 4rem;
}
.gallery__item {
    position: relative;
    flex-basis: calc(50% - 2rem);
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 37rem;
    min-width: 19rem;
}

.portafolio__container_image {
    overflow: hidden;
}

.gallery__image {
    transition: all 300ms ease-in-out;
    width: 100%;
    height: 100%;
}

.gallery__item:hover .gallery__image {
    transform: scale(1.1);
}

.gallery__title {
    margin: 1rem 0rem;
    font-weight: bold;
}

.gallery__technologies {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
}

.gallery__etiqueta {
    position: absolute;
    opacity: 0;
    top: 7px;
    left: 10px;
    padding: 0 1rem;
    background-color: white;
    transition: 300ms all ease-in-out;
}

.gallery__item:hover .gallery__etiqueta {
    opacity: 1;
    transform: scale(1.1);
}

/*Responsive*/

@media (max-width: 730px) {
    .portafolio__menu {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}
