/** SOBRE MI  */
.page__about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 15px;
}

.about__titulo {
    width: 100%;
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: "PoppinsMedium";
    font-weight: 500;
}

.about__description {
    flex-grow: 2;
}
.about__personalInfo {
    flex-grow: 1;
}

.about__description,
.about__personalInfo {
    flex-basis: 150px; /* es el tamaño inicial de un elemento antes de que se apliquen la propiedad flex-grow o flex-shrink que es como el inverso de flex-grow */
    /** de esta manera cuendo tengo elementos que superar el ancho del contenedor es decir no existe espacio sobrante del contenedor y por tanto flex-grow no va a funcionar ya que depende del espacio sobrande para el facto de crecimiento, con flex-basis establezco un ancho inicial de los elementos para que ocupen en menor espacio si así conviene y poder tener un espacio restante con el que pueda jugar para el factor de crecimiento o simplemente puedo utilizar flex-shrink */
}

.personalInfo__info {
    line-height: 27px;
}

.personalInfo__title {
    font-family: "PoppinsMedium";
    font-weight: 500;
    margin-right: 1rem;
}
.about__title,
.personalInfo__title {
    color: var(--color-secondary);
}

/*? Lo que hago  (servicios) */

.page__services {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 35px;
}

.services__subtitle {
    width: 100%;
    margin-top: 30px;
    font-family: "PoppinsMedium";
    font-weight: 500;
}

.services__title {
    color: var(--color-secondary);
}
.services__service {
    flex-basis: 300px; /* funciona similar al width solo que en este le damos el tamaño inicial a los elementos que tienen un fator de crecimiento es services adecuado */
    flex-grow: 1;
    text-align: justify;
    margin-top: 2rem;
}

.service__icon {
    color: var(--color-secondary);
    font-size: 3rem;
}

/*? testimonial (reviews)  */

.page__reviews {
    display: flex;
}
/* .reviews.container {
    display: ;
}
 */

.reviews__title {
    font-family: "PoppinsMedium";
    font-weight: 500;
}

/*? about-clients  */
.clients__title {
    font-family: "PoppinsMedium";
    font-weight: 500;
}

/*? about-prices */

.prices__title {
    font-family: "PoppinsMedium";
    font-weight: 500;
}

/*? about-extra */

.extra__title {
    font-family: "PoppinsMedium";
    font-weight: 500;
}
